$primary: #8aacc8;
$secondary: #bbdefb;
$tertiary: #eeffff;
$deep: #2c4650;

#car {
    h3 {
        color: $deep;
    }
    #carousel-1 {
        .carousel-item {
        // min-height: 566px !important; 
    }
    .card {
        justify-content: center;
        
        @media(min-width: 991px) {
            min-height: 366px !important;     
        }
        
    }
    }
     
    
    
    .table {
        background: white; 
        font-size: 1rem;
        
    }
    
    #accordion-1 {
        .card-header {
            background: $primary;
            a {
                color: $deep !important;
            }
        }
    }
    
    #description {
        background: white;
        #description-col {
        }
        .readMoreClass {
            height: 12rem;
            overflow: scroll; 
        }
        .readLessClass {
            height: 6rem;
            overflow: hidden; 
        }
        
        p {            
            font-size: 1rem;
            transition: .5s;
        }
        
        a {
            font-size: .9rem;
        }
    }
}