<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<div class="container-fluid" id="make">
    <div class="row">
        <div class="col text-center">
            <h2 class="font-weight-bold">ACURA</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 col-lg-2">
            <mat-form-field>
                <mat-label>Year</mat-label>
                <mat-select [(value)]="filter.year" class="text-center" (selectionChange)="sortByYear($event.value)">
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
            <mat-form-field>
                <mat-label>Model</mat-label>
                <mat-select [(value)]="filter.model" class="text-center" (selectionChange)="sortByModel($event.value)">
                    <mat-option *ngFor="let model of models" [value]="model">
                        {{model}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3 col-lg-2">
            <form>
                <mat-form-field>
                    <input matInput  class="text-center" type="number" name="price" placeholder="Min Price" 
                    [(ngModel)]="filter.price" min="{{minPrice}}"  max="{{maxPrice}}" step="1000">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mb-2" *ngIf="showClearFiltersBtn()">
        <button id="btn1" type="button" class="btn btn-primary" (click)="clearFiters()">
            Clear Filters
        </button>
    </div>
    <div class="row d-flex">
        <div class="col-12 col-md-4 col-lg-3 car-column" *ngFor="let car of cars">
            <a [routerLink]="['/selected-car', car._id]">
                <div class="card d-flex car px-2">
                    <img class="img-fluid card-img-top w-100 d-block" src="assets/img/{{car.image[0]}}">
                    <div>
                        <span>{{car.price | currency:'USD':'symbol-narrow'}}<br></span>
                        <span>{{car.mileage}} miles<br></span>
                    </div>
                    <div class="label">
                        <span class="car-style">{{car.year}} {{car.model}}<br></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>